<main>
    <h1 class="logo"><a href="/">Users List</a></h1>
    <div class="container-card">
        {{#if users}}
        {{#each users}}
            <div class="card">
                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width: 100%;">
                <div class="container">
                    <h4><b>Name: {{username}}</b></h4>
                    <p>Age: {{ age }}</p>
                    <div>
                        <a href="/users/{{ id }}" class="btn">More info...</a>
                    </div>
                    <div class="btn-e-r">
                        <a href="/users/edit/{{ id }}" class="btn">Edit Info</a>
                        <form action="/users/delete/{{ id }}" method="POST">
                            <button type="submit" class="btn">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
        {{else}}
            <p class="logo">All User List...</p>
        {{/if}}
    </div>
</main>